@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html,
body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    gap: 100px;
    display: flex;
    flex-direction: column;
    background-image: url("../img/blob.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.joke {
    margin: 0 auto;
    width: 500px;
    min-height: 400px;
    height: fit-content;
    color: white;
    text-align: center;
    font-size: 20px;
}

#texto-chiste {
    font-size: 25px;
}

/* Emoji */
#emoji {
    padding: 50px;
    display: none;
    gap: 15px;
    justify-content: center;
    cursor: pointer;
}

#emoji div {
    max-width: 50px;
    height: 50px;
}

#emoji img {
    width: 100%;
}

/* Loading */
.hidden {
    display: none;
}

/* BUTTON */
.button-53 {
    background-color: #edc951;
    border: 0 solid #E5E7EB;
    border-radius: 25px;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-53:focus {
    outline: 0;
}

.button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    border-radius: 25px;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .button-53 {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}

/* Wheather */
#wheather {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 20px;
    box-sizing: border-box;
    gap: 5px;
}

.wheather_img {
    max-width: 50px;
    border-right: 2px solid;
}

.wheather_img img {
    width: 100%
}

/* Extra - desactivado en el ultimo commit */
/* Estrellas */
/*
#stars-box {
    display: none;
}

.fa-solid {
    color: gray;
}

.fa-solid:hover {
    cursor: pointer;
    color: yellow;
}

.yellow {
    color: yellow;
}

.gray {
    color: gray
}