html {
    background-color: #333;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

html,
body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
}

.card {
    margin: 0 auto;
    width: 500px;
    min-height: 200px;
    height: fit-content;
}

.card .title {
    min-height: 100px;
}

/* Estrellas */
.fa-solid {
    color: gray;
}

.fa-solid:hover {
    cursor: pointer;
    color: yellow;
}